.form-signup h1 {
    color: #F00;
    font-family: "Saira Stencil One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.botao-signup {
    cursor: pointer;
    background: #FF5D00;
    border-radius: 6px;
    flex-shrink: 0;
    width: 92px;
    height: 42px;
    font-family: 'Saira Condensed';
    font-size: 20px;
    border: none;
}
.campos-simples p {
    font-family: 'Saira Condensed';
    font-size: 20px;
    font-style: normal;
    color: whitesmoke;
}
.campos-simples input {
    margin-bottom: 15px;
    width: 500px;
    height: 30px;
}

.campos-estilizados {
    width: 283px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column: 0px;
    grid-row: 0px; 
}
.campos-estilizados p {
    color: whitesmoke;
}

.campos-estilizados input {
    margin-bottom: 15px;
    width: 200px;
    height: 30px;
}

.div1{ 
    grid-area: 1 / 1 / 2 / 2;

}
.div2{ 
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 100px;
}
.div3{ 
    grid-area: 2 / 1 / 3 / 2;
}
.div4{ 
    grid-area: 2 / 2 / 3 / 3;
    padding-left: 100px;
}